-# app/views/followed_users/_follow_button.html.haml
- return unless user

- following = current_user.following?(user)

= turbo_frame_tag "follow_button" do
  .follow-toggle.d-inline-flex
    - if following
      = button_to unfollow_user_path(user),
                  method: :delete,
                  form: { data: { turbo_confirm: "Unfollow #{user.profile&.username || user.email}?" } },
                  class: "btn btn-outline-secondary btn-sm follow-toggle__btn" do
        %i.bi.bi-person-dash-fill.me-2
        Unfollow
    - else
      = button_to follow_user_path(user),
                  method: :post,
                  class: "btn btn-primary btn-sm follow-toggle__btn" do
        %i.bi.bi-person-plus-fill.me-2
        Follow
