-# locals: user:, root:, paths:, subs_by_id:
-# paths: array of arrays of Cliq nodes, each starting with root

- grouped = paths.group_by { |p| p[1] }

%div.mb-3
  %div.text-sm.font-medium.mb-1.d-flex.align-items-center.gap-2
    = link_to root.name, cliq_path(root), data: { turbo_frame: "_top", turbo_action: "advance" }
    - sub_for_root = subs_by_id[root.id]
    - if sub_for_root
      = render "profiles/subscription_pill", subscription: sub_for_root

  - child_groups = grouped.except(nil)
  - if child_groups.any?
    %ul.list-unstyled.ms-3
      - child_groups.each do |child, child_paths|
        %li
          = render "profiles/subscriptions_tree", user: user, root: child, paths: child_paths.map { |p| p.drop(1) }, subs_by_id: subs_by_id
