= turbo_frame_tag "direct-message-conversations" do
  = render partial: "direct_messages/conversation_list",
           locals: { conversations: conversations, active_conversation: active_conversation }
