-# Locals: cliq:, scope:
-# Only render the control when user is signed in
- return unless user_signed_in?

%div.d-flex.align-items-center.gap-2
  = link_to "Subscribed",
    subscribed_path,
    class: "nav-link",
    'data-turbo-frame': "main_content",
    'data-turbo-action': "advance"
