.top-bar-container.container-fluid
  %nav.navbar.navbar-expand-lg.bg-body-tertiary.navbar-light
    .container-fluid
      .navbar-brand
        = render "layouts/top/nav/cliq_brand"

      %button.navbar-toggler{ type: "button",
                               data: { bs_toggle: "collapse", bs_target: "#cliqNavCollapse" },
                               aria: { controls: "cliqNavCollapse", expanded: "false", label: "Toggle navigation" } }
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#cliqNavCollapse
        .navbar-layout.d-flex.flex-column.flex-lg-row.align-items-stretch.align-items-lg-center.w-100.gap-3.gap-lg-0
          .navbar-search.flex-grow-1.order-2.order-lg-1.d-flex.justify-content-lg-center
            = render "layouts/top/nav/cliq_search"
          .navbar-account.order-1.order-lg-2.ms-auto.d-flex.justify-content-lg-end
            = render "layouts/top/nav/account"
  %div.bg-light.py-2
    .container-fluid
      = render "layouts/top/categories"
