- return unless cliq
- show ||= false
- query = request.query_parameters.symbolize_keys
- target_params = query.merge(show_moderation_candidates: show ? false : true).except(:page)
%div.d-flex.justify-content-between.align-items-center.mb-3
  %span.text-slate-600 Moderator candidates
  - label = show ? "Hide moderator candidates" : "Show moderator candidates"
  = link_to label,
            cliq_path(cliq, target_params),
            class: "btn btn-outline-secondary btn-sm",
            data: { turbo_frame: "main_content" }
