- supporter ||= nil
- supported = supporter.present? && CandidateSupport.exists?(user: supporter, post: post)
%div{ id: dom_id(post, :support_button) }
  = turbo_frame_tag dom_id(post, :support_control) do
    - if supporter.blank?
      %button.btn.btn-sm{ disabled: true } Sign in to support
    - elsif !supporter.established_for_moderation?
      %button.btn.btn-sm{ disabled: true } Establish account to support
    - elsif supported
      = button_to post_candidate_support_path(post), method: :delete, class: "btn btn-sm btn-secondary", data: { turbo: true } do
        Withdraw support
    - else
      - remaining = supporter.moderation_support_remaining_for(post.cliq)
      - disabled = remaining <= 0
      = button_to post_candidate_support_path(post), method: :post, class: "btn btn-sm btn-primary", disabled: disabled, data: { turbo: true } do
        - if disabled
          Support limit reached
        - else
          Support candidate
  = render "moderation/support_count", post: post
