-# Post Show – clean Bootstrap layout (no outer Turbo frame)

.container.py-4
  .row
    .col-lg-9.mx-auto
      = render partial: "posts/post", locals: { post: @post, full_view: true }

      / Inline reply form target (appears here when clicking Reply)
      = turbo_frame_tag "new_reply"

      .d-flex.align-items-center.justify-content-between.mt-4.mb-2
        %h2.h5.mb-0 Replies

      = render "replies/replies", replies: @replies
