-# locals: cliq:
%aside.cliq-sidebar
  = render "shared/primary_sidebar"

  %div.sidebar__header
    %div.sidebar__title In this section
    = render "cliqs/cliq_breadcrumbs", cliq: cliq

  -# - children = Cliq.where(parent_cliq_id: cliq.id).order(:name)
  -# - if children.any?
  -#   %ul.sidebar__tree
  -#     - children.each do |child|
  -#       %li.sidebar__item
  -#         = link_to child.name, cliq_path(child),
  -#           class: "sidebar__link",
  -#           data: { turbo_frame: "_top", turbo_action: "advance" }
  -#         - grands = Cliq.where(parent_cliq_id: child.id).order(:name)
  -#         - if grands.any?
  -#           %ul.sidebar__subtree
  -#             - grands.each do |g|
  -#               %li.sidebar__subitem
  -#                 = link_to g.name, cliq_path(g),
  -#                   class: "sidebar__sublink",
  -#                   data: { turbo_frame: "_top", turbo_action: "advance" }
