-# locals: subscription
= turbo_frame_tag dom_id(subscription) do
  .flex.items-center.justify-between.py-2.px-3
    %span.text-sm Are you sure?
    .space-x-3
      = button_to "Yes",
        subscription_path(subscription, context: "profile_row"),
        method: :delete,
        form: { data: { turbo_frame: dom_id(subscription) } },
        class: "btn btn-xxs btn-outline-danger"

      = link_to "No",
        row_subscription_path(subscription),
        class: "btn btn-xxs btn-outline-secondary",
        data: { turbo_frame: dom_id(subscription) }
